@media screen and (max-width: 640px) {
	table tr td {
		display: block;
	}
	.tbl-header {
		display: none
	}
	td {
		border-bottom: 2px solid #E0E0E0;
		/*margin: 5px 0*/
	}
	tr {
		border: 5px solid #E0E0E0
	}
}

table {
	border-collapse: collapse;
	width: 100%
}

td {
	padding: 8px
}

tr:nth-child(even) {
	background: #FFF;
	height: 90px
}

tr:nth-child(odd) {
	background: #F0F0F0;
	border-bottom: 2px solid #E0E0E0;
	height: 90px
}

.details {
	display: block;
	font-family: Arial;
	font-size: .8em;
    border: 2px solid #E0E0E0;
    color: #888888;
    background-color: white;
    width: 110px;
    text-align: center;
    padding: 4px;
    margin: 5px;
    text-decoration: none
}

.btm-border {
	border-right: 2px solid #E0E0E0;
	border-bottom: 2px solid #E0E0E0;
	border-left: 2px solid #E0E0E0
}

.special-offers {
	font-family: Arial;
	font-size: 1em;
	color: #888888
}

.special-offers-details {
	font-family: Arial;
	font-size: .8em;
	color: #888888;
	padding-top: 5px
}